<%# form_with(model: student_challenge,
              url: managers_student_challenge_path,
              local: true) do |form| %>
<%= form_for( student_challenge,
              local: true,
              url: managers_student_challenges_path, #managers_student_challenge_path, # managers_student_challenges_path
              id: "new-challenge-form",
              class: "student_challenge" ) do |form|  %>

  <% if student_challenge.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(student_challenge.errors.count, "error") %> prohibited this manager_student_challenge from being saved:</h2>

    <ul>
      <% student_challenge.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= form.label :challenge_level %>
    <%= form.collection_select :student_challenge_level_id,
            StudentChallengeLevel.all, :id, :student_challenge_level_name, {},
            {multiple: false, class: ''} %>
  </div>

  <div class="field">
    <%= form.label :student_challenge_name %>
    <%= form.text_field :student_challenge_name %>
  </div>

  <div class="field">
    <%= form.label :student_challenge_write_up %>
    <%= form.rich_text_area :student_challenge_write_up %>
  </div>

  <hr>
  <h3>Optional Fields</h3>

  <div class="field">
    <%= form.label :edgile_value %>
    <%= form.collection_select :edgile_value_ids,
            StudentChallengeLevel.all, :id, :edgile_value_name, {},
            {multiple: true, class: ''} %>
  </div>

  <div class="field">
    <%= form.label :edgile_practice %>
    <%= form.collection_select :edgile_practice_ids,
            StudentChallengeLevel.all, :id, :edgile_practice_name, {},
            {multiple: true, class: ''} %>
  </div>

  <div class="field">
    <%= form.label :agile_value %>
    <%= form.collection_select :agile_value_ids,
            StudentChallengeLevel.all, :id, :agile_value_name, {},
            {multiple: true, class: ''} %>
  </div>

  <div class="field">
    <%= form.label :agile_principle %>
    <%= form.collection_select :agile_principle_ids,
            StudentChallengeLevel.all, :id, :agile_principle_name, {},
            {multiple: true, class: ''} %>
  </div>

  <div class="field">
    <%= form.label :student_coaching_ideas %>
    <%= form.rich_text_area :student_coaching_ideas %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
